:host {
  position: fixed;
  background: rgba(127, 127, 127, .25);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  animation: fade-in .125s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dialogbox {
  display: flex;
  flex-direction: column;
  width: 24rem;
  margin: 4rem 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
  vertical-align: top;
  overflow: hidden;
  border-radius: 8px;
}

.dialog-message {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.dialogbox.dark-theme {
  background-color: #606060;
  color: #e0e0e0;
}

.dialogbox-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.dialogbox-actions > button + button {
  margin-left: 1rem;
}

.dialogbox-form {
  display: flex;
}

.dialogbox-form input {
  display: flex;
  width: 100%;
  margin-top: .5rem;
  outline: none;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid lightgray;
}

.dialogbox-form input:focus {
  border-bottom-color: lightblue;
}
