<div class="container">
  <div [innerHTML]="item.name"
    class="sub-item"
    [attr.data-after]="getAfterText(item)"
    [ngClass]="{'is-selected': isExactSelectedNav(item)}"></div>
  <div *ngIf="isExactSelectedNav(item?.parent)" class="navigate-to-note" title="Scroll to note" (click)="scrollToNote($event)">↗</div>
</div>
<div #subsub
    [style.max-height]="getMaxHeight(subsub)"
    [ngClass]="{'is-selected': (ui.getEnv().expandedNav && !item.collapsed) || isSelectedNav(item)}"
    class="sub-sub-sup">
  <div class="container" *ngFor="let subItem of item.items">
    <div class="sub-item sub-sub"
      [hidden]="isEmpty(subItem)"
      (click)="showItem($event, subItem)"
      (dblclick)="openItem($event, subItem)"
      [ngClass]="{'is-selected': isExactSelectedNav(subItem)}"
      [style.border-left]="'5px solid ' + subItem.color"
      [attr.data-after]="getAfterText(subItem)"
      [innerHTML]="subItem.name"></div>
    <div class="navigate-to-note" (click)="scrollToNote($event, subItem)">↗</div>
  </div>
</div>
