:host {
  display: flex;
  flex-direction: row;
}

.container {
  position: relative;
}

.navigate-to-note {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  color: rgba(0, 0, 0, .75);
  justify-content: center;
  align-items: center;
  display: none;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, .75);

  transition: background-color .125s ease-out;
}

.navigate-to-note:hover {
  background-color: rgb(255, 255, 255);
}

.container:hover .navigate-to-note {
  display: flex;
}

.sub-item {
  padding: 1rem;
  display: block;
  margin: 0;

  transition: background-color .125s ease-out;
}

.sub-item:hover,
.sub-item.is-selected {
  background: rgba(255, 255, 255, .25);
  cursor: pointer;
}

.sub-sub {
  opacity: 0;
  background: rgba(255, 255, 255, .125);
  padding: .75rem;
  font-size: 85%;
  transition: background-color .125s, opacity .25s ease-out;
}

.sub-sub-sup.is-selected .sub-sub {
  opacity: 1;
}

.sub-item:before {
  content: attr(data-before);
  font-weight: bold;
}

.sub-item:after {
  content: attr(data-after);
  color: rgba(0, 0, 0, .25);
}

.invert-text .sub-item:after {
  color: rgba(255, 255, 255, .25);
}

.sub-sub-sup {
  overflow: hidden;
  margin: .5rem;
  border-radius: .5rem;
  transition: max-height .25s;
}

.sub-sub-sup .navigate-to-note {
  right: .5rem;
}
