<div [innerHTML]="item.name"
  class="sub-item"
  [attr.data-after]="getAfterText(item)"
  [ngClass]="{'is-selected': isSelectedNav(item)}"></div>
<div #subsub [style.visibility]="isSelectedNav(item) ? 'visible' : 'hidden'" [style.max-height]="getMaxHeight(subsub)" class="sub-sub-sup">
  <div class="sub-item sub-sub"
    *ngFor="let subItem of item.items"
    [hidden]="subItem.transient"
    (click)="showItem($event, subItem)"
    (dblclick)="openItem($event, subItem)"
    [ngClass]="{'is-selected': isExactSelectedNav(subItem)}"
    [style.border-left]="'5px solid ' + subItem.color"
    [attr.data-after]="getAfterText(subItem)"
    [innerHTML]="subItem.name"></div>
</div>
