<div class="container" [ngClass]="{ 'invert-text': item.parent?.options?.invertText }">
  <div [innerHTML]="item.name"
       class="sub-item"
       [attr.data-after]="getAfterText(item)"
       [ngClass]="{'is-selected': isExactSelectedNav(item)}"></div>
  <div *ngIf="isExactSelectedNav(item?.parent)" class="navigate-to-note" title="Scroll to note"
       (click)="scrollToNote($event)">↗
  </div>
</div>
<div #subsub
     [style.max-height]="getMaxHeight(subsub)"
     [style.margin]="getMaxHeight(subsub) === '0px' ? '0 .5rem' : '.5rem'"
     [ngClass]="{'is-selected': (ui.getEnv().expandedNav && !item.collapsed) || isSelectedNav(item)}"
     class="sub-sub-sup">
  <div class="container" [ngClass]="{ 'invert-text': item.parent?.options?.invertText }"
       *ngFor="let subItem of item.items">
    <div class="sub-item sub-sub"
         [hidden]="isEmpty(subItem)"
         (click)="showItem($event, subItem)"
         (dblclick)="openItem($event, subItem)"
         [ngClass]="{'is-selected': isExactSelectedNav(subItem)}"
         [style.border-left]="'5px solid ' + subItem.color"
         [attr.data-before]="!item?.options?.enumerate || isEmpty(subItem) ? '' : (visualIndex(subItem) + 1) + '. '"
         [attr.data-after]="getAfterText(subItem)"
         [innerHTML]="subItem.name"></div>
    <div class="navigate-to-note" (click)="scrollToNote($event, subItem)">↗</div>
  </div>
</div>
