:host {
  display: flex;
  flex-direction: column;
}

.sub-item {
  padding: 1rem;
  display: block;
  margin: 0;

  transition: background-color .125s;
}

.sub-item:hover,
.sub-item.is-selected {
  background: rgba(0, 0, 0, .125);
  cursor: pointer;
}

.sub-sub {
  background: rgba(0, 0, 0, .075);
  padding: .75rem;
  font-size: 85%;
}

.sub-item:after {
    content: attr(data-after);
    white-space: pre;
    color: rgba(0, 0, 0, .25);
}

.sub-sub-sup {
  overflow: hidden;
}

.sub-sub-sup {
  transition: max-height .25s;
}