:host {
    position: relative;
    display: inline-block;
    width: 16rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2.5px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), transparent);
    background-color: #fff;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
    vertical-align: top;
    cursor: grab;
}

.sub-list-title {
    font: inherit;
    border: none;
    padding: 0;
    outline: none;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    cursor: text;
}

.sub-list-item {
    border: none;
    padding: 0;
    outline: none;
    display: block;
    word-break: break-word;
    cursor: text;
}

.sub-list-item-container:not(:last-child) {
    margin-bottom: .5rem;
}

.sub-list-item:before {
    content: "•";
    padding-right: .5rem;
    color: rgba(0, 0, 0, .25);
}

[data-after]:after {
    content: attr(data-after);
    white-space: pre;
    color: rgba(0, 0, 0, .25);
}

.sub-list-item:hover:before {
  color: black;
}

.is-navigation .sub-list-title {
  padding: 0 1rem;
}

.is-navigation .sub-list-item {
  padding: 0;
  margin: 0;
}

.is-navigation .sub-list-item:before,
.is-navigation .sub-list-item:after {
  display: none;
}

.sneak-peek {
  margin-left: 1rem;
  opacity: .5;
  font-size: 75%;
  word-break: break-word;
}

.sneak-peek-item {

}

.drop-right {
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  right: -1rem;
  background: orange;
  border-radius: 3px;
}

.drop-left {
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  left: -1rem;
  background: orange;
  border-radius: 3px;
}
