:host {
    display: inline-block;
    width: 16rem;
    padding: 1rem;
    margin: 1rem;
    background: #fff;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
    vertical-align: top;
}

.sub-list-title {
    font: inherit;
    border: none;
    padding: 0;
    outline: none;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

.sub-list-item {
    border: none;
    padding: 0;
    outline: none;
    display: block;
}

.sub-list-item:not(:last-child) {
    margin-bottom: .5rem;
}

.sub-list-item:before {
    content: "•";
    padding-right: .5rem;
    color: rgba(0, 0, 0, .25);
}

.sub-list-item:hover:before {
    color: lightblue;
}

.is-navigation .sub-list-title {
  padding: 0 1rem;
}

.is-navigation .sub-list-item {
  padding: 0;
  margin: 0;
}

.is-navigation .sub-list-item:before {
  display: none;
}

