.person-list {
    margin-top: 1rem;
}

.person {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background .125s;
    border-radius: .25rem;
}

.person:hover {
  background: rgba(0, 0, 0, .1);
  cursor: pointer;
}

.person-img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin: .5rem;
}
