.last-backup-date {
  color: gray;
  font-size: 80%;
}

.green {
  color: forestgreen;
}

.green.dark {
  color: greenyellow;
}

.button-wrap {
  line-height: 2rem;
  display: flex;
}

.button-wrap > button + button {
  margin-left: .25rem;
}

input[type='number'] {
  width: 3rem;
  max-width: 3rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: .25rem;
}
