<br />
<form>
  <label><input type="checkbox" name="dblClickToOpen" [(ngModel)]="env.dblClickToOpen" (ngModelChange)="update()" /> Enable double-click to jump inside notes</label>
  <br /><br />
  <label><input type="checkbox" name="showDescriptions" [(ngModel)]="env.showDescriptions" (ngModelChange)="update()" /> Show pages</label>
  <br /><br />
  <label><input type="checkbox" name="useDarkTheme" [(ngModel)]="env.useDarkTheme" (ngModelChange)="update()" /> Use dark theme</label>
  <br /><br />
  <label><input type="checkbox" name="useDarkTheme" [(ngModel)]="env.showFlat" (ngModelChange)="update()" /> Use flat theme</label>
  <br /><br />
  <label><input type="checkbox" name="showAsPriorityList" [(ngModel)]="env.showAsPriorityList" (ngModelChange)="update()" /> Show as priority list (ALT + P)</label>
  <br /><br />
  <label><input type="checkbox" name="showListCheckboxes" [(ngModel)]="env.showListCheckboxes" (ngModelChange)="update()" /> Show list checkboxes</label>
  <br /><br />
  <label><input type="checkbox" name="showSublistCheckboxes" [(ngModel)]="env.showSublistCheckboxes" (ngModelChange)="update()" /> Show sublist checkboxes</label>
  <br /><br />
  <label><input type="checkbox" name="showSublistPreviews" [(ngModel)]="env.showSublistPreviews" (ngModelChange)="update()" /> Show sublist previews</label>
  <br /><br />
  <label><input type="checkbox" name="showLinks" [(ngModel)]="env.showLinks" (ngModelChange)="update()" /> Show links</label>
  <br /><br />
  <label><input type="checkbox" name="showEstimates" [(ngModel)]="env.showEstimates" (ngModelChange)="update()" /> Show estimates</label>
  <br /><br />
  <label><input type="checkbox" name="unlinkOnDelete" [(ngModel)]="env.unlinkOnDelete" (ngModelChange)="update()" /> Unlink links on delete</label>
  <br /><br />
  <label><input type="checkbox" name="hideDoneItems" [(ngModel)]="env.hideDoneItems" (ngModelChange)="update()" /> Hide done items</label>
</form>
<br />
<span *ngIf="isVillageConnected()">
  <span [ngClass]="{ 'dark': env.useDarkTheme }" class="green">Connected as <a target="_blank" [href]="villageUrl()">{{ villageName() }}</a> (Village)</span><br />
  <button (click)="disconnectVillage()">Disconnect</button>
  <button (click)="nukeVillage()">Delete notes</button>
  <br /><br />
</span>
<div class="button-wrap">
  <button (click)="backup()">Download notes</button>
  <button (click)="unbackup()">Upload notes</button>
  <button (click)="syncAll()">Sync all notes</button>
</div>
<br />
<span class="last-backup-date">{{ env.lastBackup ? 'Last downloaded on ' + env.lastBackup : '' }}</span>
