.last-backup-date {
  color: gray;
  font-size: 80%;
}

.green {
  color: forestgreen;
}

.green.dark {
  color: greenyellow;
}

.button-wrap {
  line-height: 2rem;
  display: flex;
}

.button-wrap > button + button {
  margin-left: .25rem;
}