:host {
	background: #ffffff;
  display: flex;
	position: absolute;
	top: 0;
	width: 16rem;
	left: 0;
	bottom: 0;
	
	z-index: 1;
  box-shadow: 4px 0 0 rgba(0, 0, 0, .125);
}

:host sub-list {
    width: 100%;
    margin: 0;
    background: transparent;
    box-shadow: none;
    vertical-align: inherit;
    display: flex;
}
