:host {
	background: #ffffff;
  display: flex;
	position: absolute;
	overflow-y: auto;
	top: 0;
	width: 16rem;
	left: 0;
	bottom: 0;

	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, .25), transparent);
	z-index: 1;
  box-shadow: 3px 0px 9px rgba(0, 0, 0, .125);
}

:host sub-list {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    background: transparent;
    box-shadow: none;
    vertical-align: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
