:host {
  background: white;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
  padding: .5rem 0;
  border-radius: 8px;
  user-select: none;
  min-width: 8rem;
  max-width: 16rem;
  max-height: 100vh;
  box-sizing: border-box;
}

.menu-option {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 1rem;
  cursor: default;
  transition: background-color .125s;
  outline: none;
}

.menu-option-disabled {
  opacity: .25;
  background-color: none;
}

.menu-option-color {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), transparent);
  box-shadow: 1.5px 1.5px 4.5px rgba(0, 0, 0, .05125);;
}

.menu-option-color.is-flat {
  background-image: none;
}

.menu-option-wrapper {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}

.menu-shortcut {
  opacity: .5;
  transform: scale(.9);
  margin-left: 1rem;
  font-weight: 500;
}

.menu-option:focus:not(.menu-option-disabled), .menu-open {
  background-color: rgba(0, 0, 0, .1);
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}
