:host {
  background: white;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
  padding: .5rem 0;
  border-radius: 8px;
  user-select: none;
  min-width: 8rem;
  max-width: 16rem;
}

.menu-option {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  cursor: default;
  transition: background-color .125s;
}

.menu-option-title {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-shortcut {
  opacity: .5;
  transform: scale(.9);
  margin-left: 1rem;
  font-weight: 500;
}

.menu-option:focus, .menu-open {
  background-color: rgba(0, 0, 0, .1);
  outline: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}