<div class="menu-option"
    *ngFor="let option of options"
    tabindex="0"
    [class.menu-open]="option.isOpen"
    [class.menu-option-disabled]="option.disabled"
    (keydown.enter)="clicked($event, option)"
    (click)="clicked($event, option)"
    (mouseenter)="hovered($event, option)">
  <span class="space-between">
    <span class="menu-option-wrapper">
      <span *ngIf="option.color" class="menu-option-color" [ngClass]="{ 'is-flat': environment.showFlat }" [style.background-color]="option.color"></span>
      <span class="menu-option-title" [innerHTML]="option.title"></span>
    </span>
    <span *ngIf="option.shortcut" class="menu-shortcut">{{ option.shortcut }}</span>
  </span>
</div>
