<div class="form">
  <b>Date</b>
  <input #date (change)="setDateString(date.value)" [placeholder]="dateNow()" class="input" />
  <div>
    <button *ngFor="let suggestion of dateSuggestions" (click)="setDate(suggestion[0])">{{suggestion[1]}}</button>
  </div>
  <b>Time</b>
  <input #time (change)="setTimeString(time.value)" [placeholder]="timeNow()" class="input" />
  <div>
    <button *ngFor="let suggestion of timeSuggestions" (click)="setTime(suggestion[0])">{{suggestion[1]}}</button>
  </div>
  <b>Time Zone</b>
  <input #timeZone [placeholder]="getTimeZone()" (change)="setTimeZone(timeZone.value, true)" (keyup)="setTimeZone(timeZone.value)" class="input" />
  <div>
    <button *ngFor="let suggestion of timeZoneSuggestions" (click)="onTimeZoneSet(suggestion[0])">{{suggestion[1]}}</button>
  </div>
</div>
