:host {
  background: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-left: 0rem;
  justify-self: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 100vh;

  transition: padding-left ease-out .25s;
}

@media screen and (min-width: 601px) {
  main-list.is-showing+:host {
    padding-left: 16rem;
  }
}

.description {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 0rem;
  background: #ffffff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .125);
}

.items {
  padding: 1rem;
}

.items.priority-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}


:host.dark-theme {
  background: #404040;
}

.go-up {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: gray;
  max-width: 4rem;
  font-weight: bold;
  border-radius: 100%;
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  opacity: .5;
}

@media screen and (max-width: 600px) {
  main-list.is-showing+:host {
    left: 0;
  }
}

@media print {
  :host {
    background: unset;
  }

  .go-up {
    display: none;
  }
}
