<div
  [ngClass]="{ 'is-showing': filter.byRef?.length, 'dark-theme': getEnv().useDarkTheme, 'flat-theme': getEnv().showFlat }"
  class="filterbox">
  <div class="filterbox-title">Showing items with links</div>
  <div class="item-links">
    <div *ngFor="let i of filter.byRef"
         class="item-link lg"
         [title]="getItemLinkText(i)"
         (click)="removeFilter($event, i)"
         (contextmenu)="showFilterOptions($event, i)"
         [style.background-color]="i.color"
         [innerHTML]="i.name"></div>
  </div>
</div>
<app-schedule *ngIf="hasEvents()"></app-schedule>
<div *ngIf="getShow().description || getShow().description === ''"
     contenteditable
     [(contenteditableModel)]="getShow().description"
     (contenteditableModelChange)="saveDescription()"
     (keydown.control.b)="command($event, 'bold')"
     (keydown.control.i)="command($event, 'italic')"
     (keydown.control.u)="command($event, 'underline')"
     (keydown.backspace)="removeDescriptionIfEmpty($event)"
     data-placeholder="Description"
     (dblclick)="dontPropagate($event)"
     [ngClass]="{ 'dark-theme': getEnv().useDarkTheme }"
     class="description"></div>
<div class="items" [ngClass]="{'priority-list': getEnv().showAsPriorityList}" #listsContainer>
  <sub-list *ngFor="let list of getLists()"
            (modified)="onItemModified(list)"
            (removed)="onItemRemoved(list)"
            (selected)="onItemSelected(list, $event)"
            [onSelection]="onSelection"
            (onSelectionChange)="onSelectionChange(list, $event)"
            [getSelectedListIds]="getSelectedListIds()"
            (keydown.control.arrowUp)="moveItem($event, list, -1)"
            (keydown.control.arrowDown)="moveItem($event, list, 1)"
            [large]="getEnv().showAsPriorityList"
            [list]="list"></sub-list>
</div>
<div class="go-up" (click)="up()" [title]="goUpText()">↑</div>
