:host {
	background: #f0f0f0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

main-list+:host {
  left: 16rem;
}

.description {
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .125);
}

.items {
  padding: 1rem;
}


:host.dark-theme {
  background: #404040;
}
