<div [ngClass]="{ 'is-showing': filter.byRef?.length, 'dark-theme': getEnv().useDarkTheme }" class="filterbox">
  <div class="filterbox-title">Showing items with links</div>
  <div class="item-links">
    <div *ngFor="let i of filter.byRef"
      class="item-link lg"
      [title]="getItemLinkText(i)"
      (click)="removeFilter($event, i)"
      (contextmenu)="showFilterOptions($event, i)"
      [style.background-color]="i.color"
      [innerHTML]="i.name"></div>
  </div>
</div>
<div *ngIf="getEnv().showDescriptions"
     contenteditable
     [(contenteditableModel)]="getShow().description"
     (contenteditableModelChange)="saveDescription()"
     data-placeholder="Add a description"
     (dblclick)="dontPropagate($event)"
     class="description"></div>
<div class="items" [ngClass]="{'priority-list': getEnv().showAsPriorityList}" #listsContainer>
  <sub-list *ngFor="let list of getLists()"
    (modified)="onItemModified(list)"
    (removed)="onItemRemoved(list)"
    (keydown.control.arrowUp)="moveItem($event, list, -1)"
    (keydown.control.arrowDown)="moveItem($event, list, 1)"
    [list]="list"></sub-list>
</div>
<div class="go-up" (click)="up()" title="Go up">↑</div>
