:host {
  display: flex;
  flex-direction: column;
}

app-schedule {
  justify-self: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
}

.toolbar {
  z-index: 100;
  position: fixed;
  bottom: .5rem;
  left: .5rem;
}
