<ng-container [ngSwitch]="app">
  <ng-container *ngSwitchCase="'schedule'">
    <app-schedule-nav #nav (onSetNow)="schedule.setNow()" [show]="ui.getEnv().sidepane"></app-schedule-nav>
    <app-schedule #schedule [granularity]="nav.value"></app-schedule>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <main-list [show]="ui.getEnv().sidepane"></main-list>
    <main-desk [list]="api.getShow()"></main-desk>
  </ng-container>
</ng-container>
<div class="butt">
  <button class="side-bar-toggle" (click)="toggleSideBar($event)" title="Toggle menu">𑁔</button>
  <button class="app-switcher" (click)="changeView($event)" title="Apps">{{appIcon(app)}}</button>
  <button class="action-button" (click)="showSearch($event)" title="Search notes (ALT + S)">Search</button>
  <button class="action-button" (click)="showFilter($event)" title="Filter items (ALT + F)">Filter</button>
  <div class="balloon"></div>
  <button *ngIf="isSteward()" class="icon-button" (click)="showInvitations()" title="Invitations">👩‍💻️</button>
  <button class="icon-button" (click)="showOptions($event)" title="Options (ALT + O)">⚙️</button>
</div>
