:host {
  display: flex;
  flex-direction: column;
}

.butt {
  height: 2.5rem;
  background: white;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .05);
  overflow-x: auto;
}

.butt > button.action-button {
  margin-right: .5rem;
  border: 1px solid lightgray;
  border-radius: 2rem;
  padding: .25rem 1rem;
  background: none;
  cursor: pointer;
  color: #404040;
  color: Highlight;
  color: -webkit-focus-ring-color;
}

.butt > button.icon-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
  border: none;
  border-radius: 2rem;
  background: #eee;
  cursor: pointer;
}

.butt > button.side-bar-toggle {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 2rem;
  background: none;
  cursor: pointer;
  color: #40404088;
  font-weight: bold;
  font-size: 110%;
  display: flex;
  align-items: center;
}

.butt > .balloon {
  flex-grow: 1;
}

.app-switcher {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  background: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
