:host {
  background: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: 0;
  justify-self: stretch;
  align-self: stretch;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;

  transition: margin-left ease-out .25s;
}

@media screen and (min-width: 601px) {
  app-schedule-nav.is-showing + :host {
    margin-left: 16rem;
  }

  app-schedule-nav.is-showing + :host app-filter-box {
    left: 16rem;
  }
}

@media screen and (max-width: 600px) {
  app-schedule-nav.is-showing + :host {
    left: 0;
  }
}

@media print {
  :host {
    background: unset;
  }

  .go-up {
    display: none;
  }
}

:host.dark-theme {
  background: #404040;
}

:host.dark-theme .schedule-column-header {
  color: #ffffff;
}

:host.dark-theme .empty {
  color: #ffffff;
}

:host.dark-theme .emptiness {
  color: rgba(255 255 255 / 75%);
  background: rgba(0 0 0 / 25%);
}

app-scrollable-area {
  transition: margin-top .25s ease-out, height .25s ease-out;
}

app-filter-box.is-showing + app-scrollable-area {
  margin-top: 6rem;
  height: calc(100% - 6rem);
}

.schedule {
  display: flex;
  position: relative;
}

.schedule-column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-shrink: 0;
  min-width: 18rem;
}

.schedule-column-content {
  display: flex;
  flex-direction: column;
}

.schedule-column-header {
  font-weight: bold;
}

sub-list {
  margin-top: 1rem;
}

.empty {
  min-width: 16rem;
  padding: 1rem 0;
  opacity: .5;
}

.emptiness {
  text-align: center;
  padding: .5rem 1rem;
  color: rgba(0 0 0 / 75%);
  background: rgba(255 255 255 / 25%);
  border-radius: 1rem;
  margin-top: 1rem;
  min-width: 16rem;
  cursor: pointer;
}

.schedule-column-footer {
  padding-top: 1rem;
}

.is-past {
  opacity: .5;
}
