@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Delius');

body {
	height: 100%;
	margin: 0;
	font-family: 'Delius', 'Overpass', sans-serif;
}

[hidden] { display: none !important;}

textarea, input {
  font: inherit;
  background: none;
  color: inherit;
}

.note-parent {
  opacity: .33;
}