@import url('https://fonts.googleapis.com/css?family=Overpass');

body {
	height: 100%;
	margin: 0;
	font-family: 'Overpass', sans-serif;
}

[hidden] { display: none !important;}

textarea, input {
  font: inherit;
}
