.search-results {
}

.result {
    padding: .5rem;
    margin-top: .5rem;
    border-radius: 2.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .25), transparent);
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .125);
    cursor: pointer;
}

.note-parent {
  opacity: .33;
}
