.action-list {
  margin-top: 1rem;
}

.action {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: .5rem;
  padding: .5rem;
  transition: background .125s;
}

.action:hover {
  background: rgba(0, 0, 0, .1);
}
