<div class="invitations">
  <div class="invitations-item"
       *ngFor="let invitation of invitations"
       (click)="select($event, invitation)">
    <div>
      <app-invitation-photo [invitation]="invitation" [noMargin]="true"></app-invitation-photo>
      <span>{{invitation.name}}</span>
      <span *ngIf="isMe(invitation)"> (it's you!)</span>
    </div>
    <div *ngIf="invitation.isSteward" title="Steward">👩‍💻</div>
  </div>
  <div class="invitations-item" (click)="addNew()">Create invitation...</div>
</div>
